/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat:wght@300;400&display=swap");

/* VARIABLE CSS */
:root {
 /* colors */
 --first-color: #ecc74d;
 --first-color-dark: #e0a340;
 --first-color-darker: rgb(182, 129, 45);
 --first-color-light: #fbe128;
 --text-color: #0e0f0e;

 /* font and typography */
 --body-font: "Montserrat", sans-serif;
 --cursive-font: "Lobster Two", cursive;
 --biggest-font-size: 2.5rem;
 --alt-font-size: 0.938rem;
 --sub-font-size: 0.813rem;
 --main-font-size: 0.75rem;

 /* font weight */
 --font-medium: 500;
 --font-semi-bold: 600;
 --font-bold: 700;

 /* margenes */
 --mb-1: 0.5rem;
 --mb-2: 1rem;
 --mb-3: 1.5rem;
 --mb-4: 2rem;
 --mb-5: 2.5rem;
 --mb-6: 3rem;

 /* z-index */
 --z-normal: 1;
 --z-tooltip: 10;
 --z-fixed: 100;
}

/* WEB VARIABLE CSS */
@media screen and (min-width: 768px) {
 :root {
  --biggest-font-size: 4.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 813rem;
 }
}

/* BASE */
*,
::before,
::after {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}
a,
ul,
li {
 text-decoration: none;
 list-style: none;
}
/* CLASS CSS */
html {
 scroll-behavior: smooth;
}
body {
 font-family: var(--body-font);
}

/* MOBILE (DEFAULT) LAYOUT */
/* HEADER */
.nav_container {
 background-color: var(--first-color);
 padding: 0 5%;
 width: 100%;
 height: 4rem;
 display: grid;
 grid-template-columns: 1fr 1fr;
 border-bottom: var(--first-color-dark);
 position: fixed;
 z-index: 100;
}
.nav_links {
 width: 40%;
 height: calc(100vh - 4rem);
 position: fixed;
 right: -100%;
 bottom: 0;
 background-color: var(--first-color-dark);
}
.nav_title {
 /* background-color: red; */
 height: inherit;
 display: flex;
 align-items: center;
}
.nav_title a {
 color: var(--text-color);
 font-weight: 700;
 font-family: var(--cursive-font);
 letter-spacing: 10px;
 font-size: 2.8rem;
}
.hamburger_menu {
 height: inherit;
 display: flex;
 align-items: center;
 justify-content: flex-end;
}
.hamburger_menu a {
 color: var(--text-color);
 font-size: 2.8rem;
}

/* MAIN */
.main_container {
 width: 100%;
 height: 75vh;
 padding-top: 4rem;
 background: url(./images/main_bcg.jpg) center/cover no-repeat;
 display: flex;
 justify-content: center;
}
.main_background {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.main_heading {
 background: whitesmoke;
 width: 20rem;
 padding: 1.5rem 2rem;
 border-radius: 4rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 border: 5px solid var(--first-color-dark);
 font-size: 1.3rem;
 font-weight: 650;
 color: var(--first-color-dark);
}
.main_heading div {
 margin-bottom: 10px;
}
.sub_heading {
 background: whitesmoke;
 width: 15rem;
 padding: 1rem;
 margin-top: 3rem;
 border-radius: 2rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 border: 3px solid var(--first-color-dark);
 font-size: 1.1rem;
 font-weight: 650;
 color: var(--first-color-darker);
}

/* SECTIONS */
/* FACTS */
.facts {
 background-color: var(--first-color);
 margin: 5% 5%;
 display: flex;
 flex-direction: column;
 align-items: center;
 border-radius: 1rem;
}
.facts_main {
 background-color: var(--first-color-dark);
 padding: 10px;
 margin-top: 10px;
 border-radius: 10px;
}
.fact_container {
 margin: 5% 5%;
 background-color: var(--first-color-dark);
 width: 95%;
 height: 100%;
 border-radius: 1rem;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.fact {
 background-color: white;
 width: 95%;
 margin: 5% 5%;
 height: 20rem;
 border-radius: 1rem;
 position: relative;
}
.fact_main {
 background-color: rgba(255, 255, 255, 0.678);
 position: absolute;
 bottom: 30%;
 margin: -20px;
 padding: 10px;
 text-align: center;
 border-radius: 10px;
 color: var(--text-color);
}
.fact_sub_main {
 position: absolute;
 top: 0;
 background-color: whitesmoke;
 padding: 10px;
 border-radius: 10px;
 margin: 0 -10px;
}
.fact_sub {
 background-color: var(--first-color);
 margin: 0 -20px;
 padding: 10px;
 border-radius: 10px;
}
.zero {
 background: url(./images/fact0.jpg) center/cover no-repeat;
}
.one {
 background: url(./images/fact1.jpg) center/cover no-repeat;
}
.two {
 background: url(./images/fact2.jpg) center/cover no-repeat;
}
.three {
 background: url(./images/fact3.jpg) center/cover no-repeat;
}

/* TYPES */
.types_container {
 width: 100%;
}
.types {
 margin: 5%;
 padding: 5%;
 background-color: var(--first-color);
 display: flex;
 flex-direction: column;
 align-items: center;
 border-radius: 1rem;
}
.types_main {
 background-color: var(--first-color-dark);
 padding: 10px;
 border-radius: 1rem;
}
.type_container {
 background-color: var(--first-color-dark);
 width: 100%;

 margin-top: 10px;
 border-radius: 1rem;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.type {
 width: 90%;
 margin: 20px;
}
.type_image {
 width: 100%;
 height: 15rem;
 border-radius: 1rem;
}
.type_image_main {
 background-color: whitesmoke;
 position: relative;
 left: 0;
 width: 5rem;
 border-radius: 10px;
 padding: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}
.type_image_sub {
 background-color: var(--first-color);
 border-radius: 1rem;
 padding: 8px;
 margin: 0 -60px;
}
.type_character {
 margin-top: 20px;
 width: 100%;
 height: 10rem;
 /* background-color: gray; */
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
.type_circle {
 width: 4rem;
 height: 4rem;
 background-color: white;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 text-align: center;
 margin-right: 10px;
}
.type_main_circle {
 width: 100%;
 height: 50%;
 font-weight: bolder;
 margin-top: 10px;
 /* background-color: red; */
}
.type_sub_circle {
 width: 100%;
 height: 50%;
 background-color: var(--first-color);
 border-radius: 20px;
 margin-bottom: 10px;
 font-weight: bolder;
}
.type_description {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.type_main_desc {
 background-color: whitesmoke;
 margin: 5%;
 padding: 10px;
 border-radius: 1rem;
 position: relative;
 left: 0;
}
.type_sub_desc {
 width: 95%;

 background-color: whitesmoke;
 margin: 0 5% 5%;
 padding: 10px;
 border-radius: 1rem;
}

/* FOOTER */

/* WEB LAYOUT */
@media screen and (min-width: 768px) {
 /* BASE */
 .body {
  font-family: var(--cursive-font);
 }
 /* HEADER */

 .hamburger_menu {
  display: none;
 }
 /* MAIN */

 /* SECTIONS */

 /* FOOTER */
}
